
p{

    font-family: "GillSansStd";
}
h1,
h3,
h4,
h5
{
    font-family: "Lato-Regular";
}
a {
    font-family: "GillSansStd";
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: "PlayfairDisplay-Italic";
    font-size: 35px;
    letter-spacing: 5px;
    color: #bb7e49;
}
a:hover{
    text-decoration: none !important;
}
.form-control:focus {
    box-shadow: none;
}
.header-code p {
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: #D6A071;
    font-family: 'Lato-Regular';
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
/* .header-top {
    background-color: #09183d;
    padding: 12px;
} */
.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 30px;
    border-bottom: 1px solid #EEEEEE;
}
.header-middle ul {
    display: flex;
    align-items: center;
    margin: 0;
}
.header-middle svg {
    font-size: 25px;
    height: 16px;
    padding-right: 10px;
    fill: #6a6565;
}
.search-form svg {
    fill: #D6A071;
}
.header-search {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.search-form {
    padding: 0px 15px;
}
.search-form input#form1 {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc !important;
    width: 90%;
    font-size: 12px;
    height: 26px;
}
.search-form button.btn.btn-primary {
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
.right-menu select.form-select {
    font-family: 'Lato-Regular';
    background-color: transparent;
    color: #6a6565;
    font-size: 12px;
    font-weight: 600;
    border: none;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.right-menu select:focus-visible {
    outline: 0;
}
.right-menu a {
    font-family: 'Lato-Regular';
    background-color: transparent;
    color: #6a6565;
    font-weight: 600;
    border: none;
    font-size: 12px;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.right-menu a:hover {
    color: #747474 !important;
    text-decoration: none !important;
}
.right-menu li {
    padding: 0px 6px;
}
.right-menu svg {
    font-size: 8px;
    height: 10px;
    padding-right: 0;
    fill: #D6A071;
    margin-top: -3px;
}
.right-menu .modal-dialog {
    max-width: 60%;
}
.right-menu .btn-continue:hover{
    color: #fff;
}
.right-menu .btn-continue {
    color: #fff;
    background-color: #09183C;
    border-color: #09183C;
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 20px;
}
.right-menu  .modal-body {
    padding: 0;
}
.right-menu .modal-footer {
    display: block;
}
.right-menu .modal-title {
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
}
.product-bag img {
    width: 150px;
    height: 150px;
}
.product-bag  p {
    margin: 0;
    font-size: 15px;
    color: #09183C;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
}
.product-bag ul {
    display: block;
    padding: 0;
    margin: 0;
}
.product-bag ul li {
    margin-bottom: 0;
    font-size: 12px;
    color: #09183C;
    font-family: 'Lato-Regular';
    padding: 0px;
    text-transform: capitalize;
}
.modal-p-price {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.modal-p-price ul {
    display: block;
}
.modal-p-price li {
    font-size: 13px;
    margin-bottom: 3px;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
}
.modal-p-price li strong {
    padding-right: 7px;
}
.product-bag span {
    margin: 3px 0px;
    font-family: 'Lato-Regular';
    color: #6D6E70;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
}
.product-bag h2 {
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: #09183C;
    letter-spacing: 1.2px;
    font-weight: 700;
    text-transform: uppercase;
}
.product-bag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 20px 0px;
}


.header-end {
    text-align: center;
}
.header-inner img {
    max-width: 240px;
    width: 100%;
    padding: 24px 0px 22px 0px;
}
.navbar a {
    color: #6a6565;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Lato-Regular';
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0;
}
.header-inner .dropdown-menu a {
    padding: 10px 20px;
    border-bottom: 1px solid #6a65652e;
}
.header-inner .dropdown-menu a {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(106,101,101,0.18039);
    font-size: 13px;
    font-weight: 600;
    font-family: 'Lato-Light';
    text-transform: capitalize;
    color: #000;
}
.header-inner .dropdown-menu a:hover{
    font-size: 13px;
    text-transform: capitalize;
    color: #000;
}
.header-inner .dropdown-menu a:active{
    background-color: #d6a071;
    color: #fff;
}
.navbar a:hover {
    color: #6a6565;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar li:not(.sub-meu .dropdown li) {
    position: relative;
    padding: 0px 20px;
}
ul.navbar {
    margin: 0 !important;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #EEEEEE;
    padding: 17px 0px 20px 0px;
}
/* .sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #08163c;
    top: 61px;
    padding: 50px 0px 87px 0px;
    text-align: left;
    z-index: 9999;
}

.sub-menu li a:hover {
    color: #fff;
    text-transform: capitalize;
    padding: 0;
    line-height: 1.9;
    letter-spacing: 0.1vw;
    text-decoration: none;
    position: relative;
}
.sub-menu a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 4px;
    background: #fff !important;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}
.sub-menu a:hover:before {

    left: 0;
    right: 0;
    bottom: -1px;
}
.sub-menu li {
    display: inline-block;
}
.sub-menu img {
    width: 50%;
}
.sub-menu h2 {
    color: #fff;
    line-height: 30px;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
    letter-spacing: 0.14vw;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.sub-menu li a {
    color: #fff;
    font-family: 'Lato-Light';
    padding: 0;
    line-height: 1.9;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-left: 0;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.sub-menu .container {
    display: block !important;
} */

 .navbar li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: -4px;
    background: #09183C;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}
.navbar li:hover a:before {
    left: 20px;
    right: 20px;
}


.navbar li:hover + .sub-menu {
    display: block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
     transition: all 0.5s;
}
 /* .sub-menu {
    display: none;
} */

/* MOBILE MENU START */
.mobile-header {
    display: none;
}
.normal-header {
    display: block;
}
nav#sidenav-1 {
    position: fixed;
    z-index: 999;
    top: 82px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    width: 80%;
    height: 100%;
     display: none;
}
.right-menu .dropdown-menu.show ul {
    display: block;
    padding: 0;
}
.right-menu .dropdown-menu.show {
    padding: 5px 9px;
}
.right-menu .dropdown-menu.show ul a{
    font-weight: 400;
}
.mobile-header .dropdown-toggle::after {
   vertical-align: middle;
}
.mobile-header .header-middle ul {
    background-color: #08163c;
    height: 100%;
    display: block;
}
.mobile-header .header-middle ul li {
    padding: 17px 24px 0px 24px;
    text-align: left;
}
.mobile-header .header-inner img {
    width: 100%;
    padding: 15px 0px 15px 0px;
}
.mobile-header .sidenav-collapse li {
    padding: 0 !important;
}
.mobile-header .header-middle {
    padding: 10px 20px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #08163c;
}
.mobile-header svg {
    font-size: 25px;
    height: 16px;
    padding-right: 10px;
}
.mobile-header .header-search {
    display: block;
    padding: 20px;
}
.mobile-header .search-form input#form1 {
    width: 98%;
}
.mobile-header .header-inner button.btn.btn-primary {
    background-color: transparent;
    border: none;
}
.mobile-header .header-inner button.btn.btn-primary:focus {
    box-shadow: none;
}
.mobile-header .right-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-header .input-group {
    align-items: center;
    justify-content: center;
}
.sidenav-menu .dropdown-menu {
    position: inherit;
    top: 0;
    left: auto;
    float: none;
    background-color: transparent;
    border: none;
}
.sidenav-menu .nav-link {
     padding: 0px;
    font-size: 16px;
    color: #fff;
    font-family: 'Lato-Light';
    letter-spacing: 1px;
}
.sidenav-menu .dropdown-menu a {
    font-size: 14px;
    font-weight: 500;
    color: #b9b6b6;
    letter-spacing: 1px;
}
.sidenav-menu .dropdown-menu.show {
    position: inherit !important;
    transform: none !important;
    bottom: 0;
}
.dropdown.show a:before{
    display: none !important;
}
/* banner start */
.banner-full {
 position: relative;
}
.banner-full img {
    width: 100%;
    height: 460px;
    object-fit: cover;
}
.banner-full .carousel-caption {
    right: 15%;
    bottom: 0;
    top: 35%;
    left: 15%;
}
.banner-full .carousel-caption h5 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 9px;
    font-family: "Lato-Regular";
}
.banner-full .carousel-caption a:hover {
    background-color: #ffffff4f;
    color: #ffffff;
}
.banner-full .carousel-caption p {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "Lato-Light";
    padding: 0px 26%;
    margin-bottom: 30px;
}
.banner-full .carousel-caption a {
    color: #fff;
    font-size: 14px;
    font-family: "Lato-Light";
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid #fff;
    padding: 11px 40px;
}
.banner-full  .overlay {
    background-color: #00000052;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* about section start */
.about-section {
    padding: 40px 0px 40px 0px;
    text-align: center;
}
.about-section img {
    width: 100%;
    border-radius: 10px;
}
.main-box h2 {
    margin-bottom: 35px;
}
.about-img img {
    margin-bottom: 30px;
}
.left-img img {
    max-height: 95%;
    height: 100%;
}
/* .about-section h2 {
    color: #08163c;
    text-transform: uppercase;
    font-size: 1.6vw;
    margin-bottom: 0;
    margin-top: 7vh;
    letter-spacing: 0.1vw;
}
.about-section a {
    color: #08163c;
    font-size: 1.1vw;
    border-bottom: 1px solid #08163c;
    margin-bottom: 10px !important;
    display: inline-block;
}
.about-img img {
    width: 100%;
}
.left-img img {
    position: relative;
    z-index: 2;
    margin-top: 3vh;
    object-fit: cover;
    width: 30vw;
    height: 310px;
    overflow: hidden;
} */
/* about section end */
.m-same {
    margin: 10px;
    position: relative;
}
.shop-section img {
    width: 100%;
    border-radius: 10px;
}

.shop-section h2 {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-family: "Lato-Regular";
    background-color: #00000030;
    letter-spacing: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-radius: 10px;
}
.img-hover-zoom {

    overflow: hidden;
  }
  .img-hover-zoom img {
    transition: transform 1.8s ease;
}
.img-hover-zoom:hover h2 {
    border-radius: 10px;
}
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
/* INSTGRAM SECTION START */
.instagram-section {
    text-align: center;
    margin-top: 40px;
}
.main-insta h2 {
    text-transform: lowercase;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}
.main-insta img {
    padding: 30px 0px 0px 0px;
    width: 100%;
}
img.insta-img {
    width: 100%;
}
.inst-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* BREADCURMBS START */
.breadcrumbs-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.breadcrumbs-bar a {
    font-size: 12px;
    color: #333;
}
.goto-home svg {
    width: 10px;
    height: 11px;
}
.breadcrumbs-bar li:before {
    content: "/";
    padding: 0 0.5vw;
    color: #ccc;
    font-size: 12px;
    position: relative;
    top: 1px;
}
.goto-home:before {
    display: none;
}
.breadcrumbs-bar a:hover {
    color: #333;
}
.breadcrumbs-bar {
    padding: 10px 0px;
}

/* BREADCURMBS END */

/* SIDEBAR LAYOUT START */
.sidebar-bar li {
    padding: 0 15px 10px 15px;
}
.sidebar-bar a{
    color: #09183C;
    text-transform: capitalize;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 14px;

}
.sidebar-bar li a:hover,
.sidebar-bar li a:active {
    color: #09183C;
    font-weight: 700;
    border-bottom: 1px solid #09183C;
}
/* SIDEBAR LAYOUT END */


/* PRODUCT PAGE LAYOUT START */
.product-layout {
    margin-top: 50px;
}
.product-category h2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 23px;
    margin: 20px 0px 50px 0px;
}
.product-listing {
    text-align: center;
}
.product-card img {
    width: 100%;
    max-width: 100%;
}
.product-card h2 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-weight: bold;
}
.product-card span {
    font-family: Calibri;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    margin-top: 1vh;
    color: #000;
    display: block;
}
/* .product-color img {
    width: 22px;
    margin: 7px 2px 0px 2px;
    border: 1px solid #cccbcb;
} */
.product-color li {
    margin: 7px 2px 0px 2px;
    border: 1px solid #cccbcb;
}
.product-color {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fav-icon svg {
    width: 13px;
    height: 12px;
    fill: #fff;
}
.favfill svg{
  fill: #09183D;
}
.fav-icon {
    position: absolute;
    top: 10px;
    right: 25px;
    opacity: 0;
}
.product-card:hover .fav-icon {
    opacity: 1;
}
.product-card {
    position: relative;
    margin-bottom: 45px;
}

/* PRODUCT PAGE LAYOUT END */

/* REGISTER FORM START */
.register-form h2 {
    font-size: 30px;
    margin: 20px 0px 10px 0px;
}
.register-form label {
    font-family: Calibri;
    color: #58585B;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
}
.register-form h4 {
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.form-input input {
    padding: 6px 12px;
    font-size: 14px;
    color: #09183C;
    font-family: Calibri;
    background-color: #fff;
    background-image: none;
    border: 1px solid #09183C;
    border-radius: 0;
    text-transform: capitalize;
}
.form-input textarea{
    padding: 6px 12px;
    font-size: 14px;
    color: #09183C;
    font-family: Calibri;
    background-color: #fff;
    background-image: none;
    border: 1px solid #09183C;
    border-radius: 0;
    text-transform: capitalize;
}
.subscribe-form label.col-form-label {
    font-size: 13px;
    text-align: left;
}
.subscribe-form .btn-radio {
    display: flex;
    gap: 25px;
    align-items: center;
}
.btn-radio label.form-check-label {
    position: relative;
    top: -2px;
}
.submit-area {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.policy-area input#gridCheck1 {
    margin-top: 7px;
}
.policy-area label.form-check-label {
    padding-right: 30px;
    text-transform: capitalize;
}
.btn-submit button.btn.btn-primary {
    color: #fff;
    background-color: #09183C;
    border-color: #09183C;
    border-radius: 0;
    padding: 6px 12px;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 2;
    font-family: Calibri;
    text-transform: uppercase;
}
/* REGISTER FORM END */

/* WISH LIST PAGE START */
.wish-btn svg {
    width: 14px;
    fill: #fff;
}
.wish-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: start;
}
.btn-wish {
    color: #fff;
    background-color: #09183C;
    border-color: #09183C;
    padding: 6px 12px;
}
.wish-list img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.wish-list h2 {
    margin: 20px 0px;
}
.wish-continue {
    text-align: right;
}
.wish-list tbody tr:hover {
    background-color: #f5f5f5;
}
/* WISH LIST PAGE END */

/* HELP PAGE START */
.help-area h5 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #09183C;
    font-family: 'Lato-Regular';
    font-weight: 600;
}
.help-area p {
    color: #5e5e5e;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
}
.payment-sec {
    padding-left: 40px;
}
.location-faq {
    padding-left: 40px;
    color: #09183C;
    margin: 10px 0px;
}
.location-faq li {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
}
.location-faq span {
    color: #09183C;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-left: 40px;
    margin-bottom: 10px;
    text-align: justify;
}
/* HELP PAGE END */

/* LOGIN FORM START */
.login-card {
    padding: 30px 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}
.login-card h2 {
    font-size: 30px;
    margin: 8px 0px 10px 0px;
}
.login-card span {
    color: #09183C;
    font-family: Calibri;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.login-card  p {
    font-size: 14px;
    font-family: Calibri;
}
.login-card  label {
    font-family: Calibri;
    color: #58585B;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.continue-btn:hover{
    color: #fff;
}
.continue-btn {
    padding: 19px 13px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: #09183C;
    display: inline-block;
    border: 1px solid #09183C;
}
.login-card .btn {
    padding: 10px 13px;
    font-size: 12px;
    border-radius: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background-color: #09183C;
    border-color: #09183C;
}
.login-form a {
    padding: 0;
    background-color: transparent;
    text-transform: capitalize;
    color: #08163c;
    letter-spacing: 0px;
    font-size: 14px;
}
 /* input {
    padding: 6px 12px;
    font-size: 14px;
    color: #09183C;
    background-color: #fff;
    border: 1px solid #09183C;
    border-radius: 0;
    font-family: Calibri;
} */
/* LOGIN FORM END */

/* CONTACT US PAGE START */
.contactus-layout {
    margin: 15px 0px 30px 0px;
}
.contact-form h4 {
    color: #09183C;
    font-weight: bold;
    font-size: 1.1vw;
    margin-bottom: 5vh;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    border-bottom: 1px solid #09183C;
    width: max-content;
    margin: 20px 0px;
}
.contactus-layout .form-group input {
    margin-bottom: 15px;
}
.contactus-layout #v-pills-tab .active {
    line-height: 2;
    font-family: 'Lato-Regular';
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #09183C;
    background-color: #eee;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0.25rem;
}
.contactus-layout #v-pills-tab {
    padding-right: 3vw;
}
.contactus-layout #v-pills-tab a {
    line-height: 2;
    font-family: 'Lato-Regular';
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #09183C;
    background-color: rgb(255, 255, 255);
    border: none;
}
/* CONTACT US PAGE END */

/* inquiries page start */
.image-box img {
    width: 100%;
}
.image-box {
    background: black;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.image-box-content {
    background-color: rgba(9, 24, 60, 0.6313725490196078);
    bottom: 0;
    color: white;
    text-align: left;
    left: 0;
    padding: 50px 40px 20px 40px;
    position: absolute;
    transition: 0.5s padding;
    top: 0;
    max-width: 33%;
    width: 100%;
}
.image-box-content h3 {
    font-size: 18px;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}
.image-box-content p {
    font-size: 14px;
    line-height: 23px;
    font-family: 'GillSansStd';
    letter-spacing: 1px;
    text-align: justify;
}
.main-boxpara {
    color: #5e5e5e;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
}
.further-area {
    text-align: center;
}
.further-area h3 {
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.further-area a {
    background-color: #09183C;
    border-color: #09183C;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 13px;
    border: 1px solid #09183C;
    display: inline-block;
    font-family: 'Lato-Regular';
    font-weight: 500;
}
.further-area a:hover{
    background-color: transparent;
    color: #09183C;
    font-weight: 500;

}
/* inquiries page end */

/* LOCATOR PAGE START */

.store-locator {
    background-image: url('./images/store-locator-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.locator-box {
    background-color: rgba(8,22,60,0.83922);
    color: #fff;
    padding: 50px 40px !important;
    /* max-width: 30% !important;
    margin: 0px 15px; */
}
.locator-box:hover {
    background-color: #08163c;

}
.locator-menu h3 {
    font-family: 'Lato-Regular';
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 17px;
}
.locator-menu h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'GillSansStd';
    letter-spacing: 1px;
    text-transform: uppercase;
}
.locator-menu  span {
    display: block;
    margin: 0;
    font-size: 14px;
    font-family: 'GillSansStd';
    margin-bottom: 5px;
}
.locator-menu .border {
    margin-bottom: 15px;
}

.locator-menu  h5 {
    font-size: 13px;
    letter-spacing: 5px;
    font-family: 'GillSansStd';
    margin-bottom: 8px;
    margin-top: 15px;
}
.locator-menu a:hover{
    color: #fff;
}
.locator-menu a {
    color: #fff;
    font-size: 14px;
    font-family: 'GillSansStd';
    margin: 0;
    padding: 0;
}
.locator-menu li {
    font-size: 14px;
    margin-bottom: 6px;
    font-family: 'GillSansStd';
    letter-spacing: 1px;
}
.locator-menu p {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}
.locator-menu svg {
    width: 13px;
    fill: #fff;
    margin-right: 4px;
}
.map-area a {
    display: flex;
    align-items: center;
    justify-content: start;
}
.map-area a:hover {
    color: #fff;
}


/* LOCATOR PAGE END */

/* ACCOUNT PAGE START */
.account-login {
    text-align: center;
    padding: 30px 0px 60px 0px;
}
.account-box {
    padding: 0px 60px;
}
.account-box h3 {
    font-size: 20px;
    font-family: 'Lato-Regular';
    font-weight: 600;
}
.account-box a {
    font-size: 14px;
    margin: 0;
    color: #08163c;
}
.account-box a:hover {
    color: #08163c;
}
.account-box img {
    width: 100px;
}
/* ACCOUNT PAGE END */

/* PRODUCT DETAIL PAGE START */
.sp-title {
    font-size: 16px;
    color: #09183C;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.sp-price {
    font-size: 17px;
    font-family: 'GillSansStd';
    margin-left: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sp-number {
    font-family: 'Lato-Regular';
    color: #6D6E70;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}
.sp-main p {
    padding: 0;
    text-transform: uppercase;
    font-family: 'GillSansStd';
    letter-spacing: 1px;
    margin: 0;
    font-size: 14px;
}
.sp-list li {
    font-family: 'Lato-Regular';
    color: #333;
    font-size: 14px;
    list-style: disc;
    line-height: 20px;
}
.sp-list {
    padding-left: 20px;
}
.sp-main .product-color {
    justify-content: start;
    margin: 0;
}
.sp-addbag {
    display: flex;
    align-items: center;
    justify-content: start;
}
.sp-addbag  h4 {
    font-size: 13px;
    margin-right: 10px;
    font-weight: 600;
    color: #09183C;
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
    margin-bottom: 0;

}
.sp-addbag input {
    width: 39px;
    height: 38px;
}
.sp-main .continue-btn {
    padding: 17px 13px;
}
.sp-main .continue-btn {
    padding: 17px 13px;
    margin: 13px 0px 25px 0px;
}
.sp-addbag .continue-btn {
    margin: 0px 3px 0px 3px;
}
#fav-sp {
    padding: 10px;
    width: 38px;
    border: 1px solid #09183C;
    margin-left: 0;
}
.sp-main .continue-btn:hover {
    background-color: transparent;
    color: #09183C;
}
#fav-sp:hover {
    background-color: transparent;
    border: 1px solid #09183C;
}
#fav-sp svg {
    fill: #fff;
}
#fav-sp:hover svg {
    fill: #09183C;
}
.singleproduct-layout {
    padding-top: 20px;
    padding-bottom: 30vh;
}
.sp-slider .carousel-item img {
    height: auto;
    object-fit: initial;
    max-height: 474px;
    width: 600px;
    margin: 0 auto;
}
.sp-slider .carousel-control-prev-icon {
   background-image: none;
}
.sp-slider .carousel-control-next-icon {
    background-image: none;

}
.sp-slider .carousel-indicators li {
    width: 57px;
    height: 76px;
}
.sp-slider .carousel-indicators {
    bottom: -23%;
    align-items: center;
    justify-content: start;
    margin-right: 15%;
    margin-left: 0;
}
.sp-slider .carousel-control-prev {
    left: -24px;
}
.sp-slider .carousel-control-prev svg{
    fill: #000000d4;
}
.sp-slider .carousel-control-next {
    right: -24px;
}
.sp-slider .carousel-control-next svg{
    fill: #000000d4;
}
/* PRODUCT DETAIL PAGE END */

/* CHECKOUT PAGE START */
.payment-tab {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #EBEBEB;
    padding: 7px 15px;
}
.payment-tab h3 {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
    font-weight: 700;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
    margin-left: 10px;
}
.payment-tab img {
    width: 11px;
}
.checkout-leftbar {
    background-color: #FBFBFB;
    padding: 30px 23px 20px 23px;
}
/* .checkout-leftbar .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
} */
.checkout-leftbar .col-form-label {
    font-size: 13px;
    padding-right: 20px;
    font-family: 'GillSansStd';
    text-transform: uppercase;
    width: max-content;
    color: #4e4e4e;
}
.checkout-leftbar textarea.form-control {
    border: 1px solid #A2A2A2;
}
.checkout-leftbar .col-form-input {
    width: 100%;
}
.checkout-leftbar input {
    border: 1px solid #A2A2A2;
}
.checkout-leftbar select {
    padding: 6px 12px;
    font-size: 14px;
    color: #09183C;
    font-family: Calibri;
    background-color: #fff;
    background-image: none;
    border: 1px solid #A2A2A2;
    border-radius: 0;
    text-transform: capitalize;
}
.right-layout {
    padding: 10px 17px 20px 17px;
}
.checkbox-checkout label.form-check-label {
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'GillSansStd';
}
.right-layout label.form-check-label {
    font-size: 13px;
    font-family: 'GillSansStd';
    text-transform: capitalize;
    color: #4e4e4e;
}
.right-layout .form-check-input {
    margin-top: 7px;
}
.right-layout thead tr {
    background-color: #EBEBEB;
    font-size: 13px;
    font-family: 'Lato-Regular';
    font-weight: 300 !important;
}
.right-layout thead  th {
    padding: 10px 11px;
    border-bottom: 1px solid #dee2e6 !important;
}
.right-layout tbody th img {
    width: 60px;
    object-fit: cover;
    height: 70px;
}
.right-layout tbody th li {
    font-size: 13px;
    font-family: 'GillSansStd';
    color: #858383;
}
.right-layout .table-edit li {
    font-size: 12px;
    color: #545353;
    text-decoration: underline;
}
.right-layout .table-edit a.nuxt-link-active {
    padding-left: 12px;
    color: #545353;
}
.right-layout .table-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-layout td {
    font-size: 13px;
    font-family: 'GillSansStd';
    color: #858383;
}
.city-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.city-select {
    width: 100%;
}
.right-layout input#quantity {
    width: 40px;
    height: 25px;
    border-left: 0;
    border-right: 0;
    border-color: #09183C;
}
.btn-quantity img {
    width: 12px;
}
.btn-quantity .btn {
    padding: 2px 10px;
    border-radius: 0;
    line-height: 0;
}
.btn-quantity .btn{
    padding: 3px 10px;
    border-radius: 0;
    line-height: 0;
    background-color: #09183C;
    border: none;
}
.btn-quantity .btn:focus{
    box-shadow: none;
}
.btn-quantity button.quantity-left-minus {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.btn-quantity .close-btn .quantity-close {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.coupon-area {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 0px 30px 0px;
}
.coupon-area h3 {
    font-size: 14px;
    font-family: 'GillSansStd';
    color: #7c7b7b;
    padding-right: 15px;
    margin: 0;
}
.coupon-area input {
    width: 300px;
    margin-right: -6px;
}
.coupon-area .tick-coupon {
    padding: 8px 10px;
    border-radius: 0;
    line-height: 0;
    background-color: #09183C;
    border: none;
}
.tick-coupon img {
    width: 12px;
}
.amount-area {
    display: flex;
    justify-content: end;
}
.amount-area li {
    display: flex;
    gap: 117px;
    justify-content: space-between;
    padding-bottom: 10px;
}
.amount-area span {
    font-size: 14px;
    font-family: 'GillSansStd';
    color: #7c7b7b;
}
.total-amount span {
    color: #000000;
    font-weight: 600;
}
.right-layout table {
    margin: 10px 0px;
}
.checkout-bar {
    margin-top: 15px;
}
.message-area label {
    font-size: 14px;
    color: #000;
    font-family: 'GillSansStd';
    margin: 0;
    padding-top: 7px;
     padding-bottom: 15px;
}
.message-area .form-check {
    padding-top: 13px;
}
.message-area .form-check label {
    padding-top: 0;
}
.checkout-bar .btn-confirm{
    width: 100%;
    background-color: #09183c;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'GillSansStd';
    display: block;
    letter-spacing: 1px;
}
.checkout-bar .btn-confirm:hover {
    color: #fff;
}
.checkbox-checkout {
    padding: 15px 0px 0px 0px;
}

.coupon-area div {
    display: flex;
}
/* CHECKOUT PAGE END */

/* footer start */
.main-footer .footer-area {
    margin: 0;
    padding: 0px 70px;
}
.menu-col h2 {
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Lato-Regular';
    letter-spacing: 0.2em;
    margin-bottom: 30px;
    font-weight: 800;
}
.menu-col li a {
    display: block;
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Lato-Regular';
    letter-spacing: 0.15em;
    padding-bottom: 10px;
}
.menu-col ul {
    margin: 0;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-link li {
    display: inline-block;
}
.footer-link svg {
    width: 15px;
    height: 15px;
    fill: #FFFFFF;
    margin-left: 3px;
}

.footer-link h2 {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lato-Regular';
    letter-spacing: 0.15em;
    margin-right: 11px;
}

.main-footer {
    margin-top: 45px;
    background-color: #979797;
    padding: 70px 0px;
    position: relative;
}
.fav-footer {
    text-align: center;
    margin-bottom: 35px;
}
.icon-arrow {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.footer-link .menu-col {
    display: flex;
    align-items: center;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright-sec p {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Lato-Regular';
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.search-form button.btn.btn-primary:active,
.search-form button.btn.btn-primary:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: none;
}
/* Mubashir Khan Swatch CSS */

.singleSwatch {
    width: 5px;
    padding: 10px;
    margin: 10px;

}

.color-swatch {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.combination-swatch {
  position: absolute;
  inset: 0;
  width: 40px;
  height: 60px;
  transform: rotate(45deg) translate(-27px, -8px);
}

.color-swatch.s-20 {
  width: 20px;
  height: 20px;
}

.color-swatch.s-20 .combination-swatch {
  width: 20px;
  height: 30px;
  transform: rotate(45deg) translate(-13px, -4px);
}

.combination-swatch.swatch3 {
  transform: rotate(45deg) translate(-27px, 23px);
  z-index: 1;
}

.combination-swatch.swatch4 {
  transform: rotate(45deg) translate(13px, -37px);
}

.combination-swatch.swatch5 {
  transform: rotate(0deg) translate(-20px, -40px);
}

table#Color_option .combination-swatch.swatch3 {
  transform: rotate(45deg) translate(-33px, 23px);
}

table#Color_option .combination-swatch.swatch4 {
  transform: rotate(45deg) translate(6px, -37px);
}

table#Color_option .combination-swatch.swatch5 {
  transform: rotate(0deg) translate(-24.5px, -44px);
}

.s-20 .combination-swatch.swatch3 {
  transform: rotate(45deg) translate(-13px, 11px);
}

.s-20 .combination-swatch.swatch4 {
  transform: rotate(45deg) translate(7px, -19px);
}

.s-20 .combination-swatch.swatch5 {
  transform: rotate(0deg) translate(-9px, -20px);
}

/* End */
