@font-face {
    font-family: "GillSansStd";
    src: local("GillSansStd"),
     url(~assets/fonts/GillSansStd.ttf);
}
@font-face {
    font-family: "Calibri";
    src: local("Calibri"),
     url(~assets/fonts/Calibri.ttf);
}

body {
    font-family: "GillSansStd";
}